<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOCALIZA 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    
      <ion-title size="large">INICIO</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <ion-item>
    <ion-label>
      <ion-input placeholder="Onde você quer retirar o carro">
       
      </ion-input>
     </ion-label> 

    <ion-select>
      <ion-select-option>CENTRO SÃO JOSÉ</ion-select-option>
      <ion-select-option>CENTRO FLORIANÓPOLIS</ion-select-option>
      <ion-select-option>AEROP FLORIANÓPOLIS</ion-select-option>
      <ion-select-option>CENTRO CANASVIEIRAS</ion-select-option>
      <ion-select-option>CENTRO PRAIA INGLESES</ion-select-option>
      
    </ion-select>
  </ion-item>
  
<BR>
<ion-label>
 
  <ion-checkbox checked="true"></ion-checkbox>Devolver no mesmo local da retirada
<BR>
<BR>      
</ion-label>
<ion-label>Você tem um cupom de desconto?
<ion-input placeholder="insira aqui"></ion-input>
</ion-label>
<ion-checkbox></ion-checkbox>QUERO USAR MEUS PONTOS
  <BR>
 <BR>
  <ion-button id="continuar">Continuar</ion-button>
    




  

  <app-explore-container name="1"></app-explore-container>
</ion-content>
